.ace-twilight {
    color: white !important;
}

#editor {
    background: #080404 !important;
}

.bgColor15 {
    background: #34495e !important;
}

.bgColor16 {
    background: #9b59b6 !important;
}

.bgColor17 {
    background: #d35400 !important;
}

.bgColor18 {
    background: #16a085 !important;
}

.bgColor19 {
    background: #c0392b !important;
}

.form-group.filled label,
.form-group.focus label {
    color: #4a4a4a;
}

.tooltip-inner {
    max-width: 200px !important;
}

.dropdown-menu {
    background-color: #fff !important;
}

form .comment-content {
    height: 410px !important;
}

.comment-content h5,
.comment-content input {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
}

.comment-content input#subject {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #dedede;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0;
    height: 25px;
}

.synced-process-edit+.progress-task-percent {
    color: #337ab7;
    margin-left: -2px
}

.editable-container+.progress-task-percent {
    visibility: hidden;
}

.img-rounded {
    border-radius: 50% !important;
}

.todo li.warning-task {
    background: #fddf74 !important;
}

.todo li.danger-task {
    background: #f37474 !important;
}

.todo li.done {
    background: #44ab44 !important;
;
}

ul.todo li.done .lbl p {
    color: black !important;
}

.task-cell-start-date-end-date {
    margin-right: 20px !important;
    left: 8px !important;
    font-size: 11px!important;
    font-family: Open Sans, Arial;
    font-weight: 600!important;
}

.milestone-right-elements {
    display: inline-block !important;
    float: right !important;
    clear: left !important;
}

.milestone-new-task-btn {
    font-size: 10px!important;
    color: #fff !important;
    text-transform: uppercase !important;
    letter-spacing: .5px !important;
    padding: 3px 8px 3px 8px;
    margin-right: 10px;
    border-radius: 2px;
    border: 0;
    word-spacing: 1px;
    font-family: Open Sans, Arial;
    font-weight: 700!important;
    -webkit-box-shadow: 0 2px 1px 0 rgba(67, 69, 139, .15), 0 2px 5px 0 rgba(50, 50, 93, .1), 0 1px 2px 0 rgba(0, 0, 0, .08), 0 0 0 0 transparent;
    box-shadow: 0 2px 1px 0 rgba(67, 69, 139, .15), 0 2px 5px 0 rgba(50, 50, 93, .1), 0 1px 2px 0 rgba(0, 0, 0, .08), 0 0 0 0 transparent;
    background: #f39c12;
}

ul.todo li .lbl p {
    font-family: Open Sans, Arial !important;
    font-size: 13px!important;
    width: 60% !important;
}

.todo a {
    font-family: Open Sans, Arial !important;
}

.dropdown-menu {
    background-color: #ffffff !important;
}

.dropdown-menu>li>a {
    color: #000 !important;
    font-weight: 400;
}

